.sort {
  margin-left: 20px;
  position: relative;
}

.sort__label {
  display: flex;
  align-items: center;
}

svg {
  margin-right: 8px;
  transform: rotate(180deg);
}

.rotated {
  transform: rotate(0);
}

b {
  margin-right: 8px;
}

.sort__label span {
  color: orange;
  border-bottom: 1px dashed orange;
  cursor: pointer;
}

.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}

.sort__popup ul {
  overflow: hidden;
}

.sort__popup ul li {
  padding: 12px 20px;
  cursor: pointer;
}

/* ul li {
  padding: 12px 20px;
  cursor: pointer;
} */
.sort__popup li.active,
.sort__popup li:hover {
  background: rgba(254, 95, 30, 0.05);
}

.sort__popup ul li:hover {
  background: rgba(254, 95, 30, 0.05);
}

.sort__popup ul li.active {
  font-weight: bold;
  color: orange;
}
